@media screen and (max-width: 1118px) {
    .contactmain {
        background: #182748;
    }

    .MainTitle {
        margin-top: 20px;
        color: white;
        margin-bottom: 20px;
        text-align: center;
    }

    .Adres.Title {
        display: inline-flex;
        align-items: center;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        width: 250px;
        height: 50px;
        background: #52d8f4;
        color: white;
        padding-left: 20px;
        margin-bottom: 10px;
    }

    .Contlist {
        color: white;
        margin-left: 10px;
        margin-right: 10px;
        list-style: disc;
        padding-left: 20px;
    }

    .map {
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        border-radius: 15px;
    }

    .İletişim.Title {
        display: inline-flex;
        align-items: center;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        width: 250px;
        height: 50px;
        background: #52d8f4;
        color: white;
        padding-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .ContactBox {
        padding-left: 10px;
        display: flex;
        flex-direction: column;
    }

    .Information {
        display: flex;
        align-items: center;
        color: white;
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 1118px) {
    .contactmain {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #182748;
    }

    .MainTitle {
        color: white;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .ContainarContact {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .Box {
        display: inline-block;
        max-width: 600px;
    }

    .Contact.Box {
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .Adres.Title {
        display: inline-flex;
        align-items: center;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        width: 400px;
        height: 50px;
        background: #52d8f4;
        color: white;
        padding-left: 20px;
    }

    .İletişim.Title {
        display: inline-flex;
        align-items: center;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        width: 400px;
        height: 50px;
        background: #52d8f4;
        color: white;
        padding-left: 20px;
    }

    .Contlist {
        color: white;
        margin-left: 10px;
        margin-right: 10px;
        list-style: disc;
        padding-left: 20px;
        margin-top: 20px;
    }

    .AdresText {
        margin-top: 10px;
        margin-left: 10px;
        color: white;
        font-size: 20px;
        font-weight: 700;
        line-height: 25px;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    ion-icon {
        margin-right: 5px;
    }

    .map {
        display: block;
        margin-top: 20px;
        margin-left: 20px;
        border-radius: 15px;
    }

    .ContactBox {
        width: 100%;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .Information {
        display: flex;
        align-items: center;
        color: white;
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 10px;
    }
}